.container {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: -999;
}

.main {
    top: 0;
    left:0;
    width: 100%;
}

.fixed {
    position: absolute;
    z-index: 999;
}

.gif1 {
    top: 49.76%;
    left: 66%;
    width: 30%;
}
.gif2 {
    top: 33.67%;
    left: 7.5%;
    width: 27.3%;
}
.gif3 {
    top: 82.9%;
    left: -0.7%;
    width: 29%;
}